<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mt-3">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title ,class:"form-control"%>
  </div>

  <div class="form-group mt-3">
    <%= form.label :content, style: "display: block" %>
    <%= form.rich_text_area :content ,class:"form-control"%>
  </div>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <br>
  <div class="text-center form-group">
    <%= form.button 'Save as Draft', value: 'Draft', name: 'publish_state', class: 'btn btn-outline-danger', type: 'submit' %>
    <%= form.button 'Publish', value: 'Published', name: 'publish_state', class: 'btn btn-book-a-table', type: 'submit' %>
  </div>
<% end %>
