<!-- Main Content-->

  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        
          <div class="col-md-10 col-lg-8 col-xl-7">
            <% @blogs.each do |blog| %>
                <div class="post-preview">
                    <%= link_to blog_path(blog)  do%>
                        <h2 class="post-title"><%= blog.title %></h2>
                        <h3 class="post-subtitle"><%=blog.content.to_s.first(200) %></h3>
                    <% end%>
                    <p class="post-meta">
                        Posted by
                        <%= blog.user.name %>
                        on <%= blog.created_at %>
                    </p>
                </div>
              <hr class="my-4" />
              <% end %>
               <!-- <div id="next_link">
                  <%#= button_to "next", pagy_url_for(@pagy, @pagy.next) %>
               </div> -->
              <%== pagy_bootstrap_combo_nav_js @pagy %>
                <%#== pagy_nav(@pagy) %>
              <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
          </div>
      </div>
  </div>
<p style="color: green"><%= notice %></p>
</div>
</section>