
<div class="row justify-content-between gy-5">
  <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
    <h2 data-aos="fade-up">Read<br>Learn<br>Write</h2>
    <p data-aos="fade-up" data-aos-delay="100">A website for learn and write</p>
    <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
      <a href="#book-a-table" class="btn-book-a-table">Getting Started</a>
      <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
    </div>
  </div>
  <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
    <%= image_tag "sample1.jpg", class:"img-fluid" %>
    <!-- <img src="assets/img/hero-img.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300"> -->
  </div>
</div>
<section>
    <div class="container px-4 px-lg-5">
      <div class="section-header">
          <h2>Top Blogs</h2>
          <p>Dont <span>Miss</span> It</p>
        </div>
      <div class="row gx-4 gx-lg-5 justify-content-center">
        
          <div class="col-md-10 col-lg-8 col-xl-7">
            <% @blogs.each do |blog| %>
                <div class="post-preview">
                    <%= link_to blog_path(blog)  do%>
                        <h2 class="post-title sm"><%= blog.title %></h2>
                        <h3 class="post-subtitle"><%= blog.content %></h3>
                    <% end%>
                    <p class="post-meta">
                        Posted by
                        Start Bootstrap
                        on <%= blog.created_at %>
                    </p>
                </div>
               
              <hr class="my-4" />
              <!-- Pager-->
             
              <% end %>
              <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
          </div>
      </div>
  </div>
</section>
<!-- <section id="chefs" class="chefs section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Chefs</h2>
          <p>Our <span>Proffesional</span> Chefs</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="chef-member">
              <div class="member-img">
                <img src="assets/img/chefs/chefs-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Master Chef</span>
                <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et voluptate.</p>
              </div>
            </div>
          </div> -->
          <!-- End Chefs Member -->

         <!--  <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="chef-member">
              <div class="member-img">
                <img src="assets/img/chefs/chefs-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Patissier</span>
                <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis. Voluptate sed quas reiciendis animi neque sapiente.</p>
              </div>
            </div>
          </div> --><!-- End Chefs Member -->

          <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="chef-member">
              <div class="member-img">
                <img src="assets/img/chefs/chefs-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>Cook</span>
                <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut architecto porro aspernatur molestiae modi.</p>
              </div>
            </div>
          </div> --><!-- End Chefs Member -->

        <!-- </div>

      </div>
    </section> --><!-- End Chefs Section -->
